streamlit
pandas //لتحميل ومعالجة البيانات (CSV، DataFrame،
joblib //لتحميل النموذج المدرب بصيغة .pkl
scikit-learn //للتعامل مع النموذج إذا كان مدرب باستخدام Scikit-learn
xgboost //إذا كان النموذج مدربًا باستخدام XGBoost (وهو ما يبدو من .pkl)
numpy //للتعامل مع العمليات العددية، وهو غالبًا يُستخدم ضمنيًا في النماذج والتحليلات
plotly //لعرض الرسوم البيانية التفاعلية 